<h1>Edit Review for <%= @restaurant[:title] %></h1>

<form action="/reviews/<%= @review[:id] %>/update" method="post">
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"><%= @review[:comments] %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>