<h1>Write a review for <%= @restaurant[:title] %></h1>

<form action="/restaurants/<%= @restaurant[:id] %>/reviews/create" method="post">
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>